<div class="rapport-card">
    <h3>{{rapport.nomTechnicien | uppercase}}</h3>
    <p>Client : {{rapport.nomClient}}</p>
    <p>Adresse : {{rapport.adresseClient}}</p>
    <p>Marque et modele chaudière : {{rapport.marqueModeleChaudiere}}</p>
    <p>Date mise en service : {{rapport.dateMiseEnService}}</p>
    <p>Date intervention : {{rapport.dateIntervention}}</p>
    <p>Numéro de service : {{rapport.numeroSerie}}</p>
    <p>Description : {{rapport.descriptionIntervention}}</p>
    <p>Temps passé : {{rapport.tempsPasse}}</p>
</div>