<div class="formRapport">
    <h2>Nouveau rapport d'intervention</h2>
    <form action="">
        <div>
            <label for="text">Nom du technicien</label>
            <input type="text" name="nomTechnicien" id="nomTechnicien">
        </div>
        <div>
            <label for="text">Nom du client</label>
            <input type="text" name="nomClient" id="nomClient">
        </div>
        <div>
            <label for="text">Adresse du client</label>
            <input type="text" name="adresseClient" id="adresseClient">
        </div>
        <div>
            <label for="text">Marque et modèle de la chaudière</label>
            <input type="text" name="marqueModeleChaudiere" id="marqueModeleChaudiere">
        </div>
        <div>
            <label for="text">Date de mise en service</label>
            <input type="date" name="dateMiseEnService" id="dateMiseEnService">
        </div>
        <div>
            <label for="text">Date de l'intervention</label>
            <input type="date" name="dateIntervention" id="dateIntervention">
        </div>
        <div>
            <label for="text">Numéro de série</label>
            <input type="text" name="numeroSerie" id="numeroSerie">
        </div>
        <div>
            <label for="text">Description de l'intervention</label>
            <textarea name="descriptionIntervention" id="descriptionIntervention" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label for="text">Temps passé</label>
            <input type="number" name="tempsPasse" id="tempsPasse">
        </div>
        <button type="submit">Ajouter le rapport</button>
    </form>
</div>