<div class="formRapport">
    <section class="subForm saisieForm">
        <h2>Nouveau rapport d'intervention</h2>
        <form [formGroup]="formulaire">
            <div class="form-group">
                <label for="text">Nom du technicien</label><br>
                <input type="text" class="form-control" id="nomTechnicien" formControlName="nomTechnicien">
            </div>
            <div class="form-group">
                <label for="text">Nom du client</label><br>
                <input type="text" class="form-control" id="nomClient" formControlName="nomClient">
            </div>
            <div class="form-group">
                <label for="text">Adresse du client</label><br>
                <input type="text" class="form-control" id="adresseClient" formControlName="adresseClient">
            </div>
            <div class="form-group">
                <label for="text">Marque et modèle de la chaudière</label><br>
                <input type="text" class="form-control" id="marqueModeleChaudiere"
                    formControlName="marqueModeleChaudiere">
            </div>
            <div class="form-group">
                <label for="text">Date de mise en service</label><br>
                <input type="date" class="form-control" id="dateMiseEnService" formControlName="dateMiseEnService">
            </div>
            <div class="form-group">
                <label for="text">Date de l'intervention</label><br>
                <input type="date" class="form-control" id="dateIntervention" formControlName="dateIntervention">
            </div>
            <div class="form-group">
                <label for="text">Numéro de série</label><br>
                <input type="text" class="form-control" id="numeroSerie" formControlName="numeroSerie">
            </div>
            <div class="form-group">
                <label for="text">Description de l'intervention</label><br>
                <textarea class="form-control" id="descriptionIntervention" cols="30" rows="10"
                    formControlName="descriptionIntervention"></textarea>
            </div>
            <div class="form-group">
                <label for="number">Temps passé</label><br>
                <input type="number" class="form-control" id="tempsPasse" formControlName="tempsPasse">
            </div>
            <br>
            <div class="action-buttons">
            <button type="submit" class="btn btn-primary" (click)="onSubmitForm()">Ajouter le rapport</button>
            </div>
        </form>
    </section>
    <section class="vueForm">
        <h2>Vue rapport</h2>
        <div *ngIf="currentRapport$ | async as unRapport">
            <h3>{{unRapport.nomTechnicien | uppercase}}</h3>
            <p>Client : {{unRapport.nomClient}}</p>
            <p>Adresse : {{unRapport.adresseClient}}</p>
            <p>Marque et modele chaudière : {{unRapport.marqueModeleChaudiere}}</p>
            <p>Date mise en service : {{unRapport.dateMiseEnService}}</p>
            <p>Date intervention : {{unRapport.dateIntervention}}</p>
            <p>Numéro de service : {{unRapport.numeroSerie}}</p>
            <p>Description : {{unRapport.descriptionIntervention}}</p>
            <p>Temps passé : {{unRapport.tempsPasse}}</p>

        </div>
    </section>
</div>